app/__pycache__/
app/migrations/
app/generate_exercises/__pycache__/
/en_ewt_models/
en_ewt_models/en_ewt_lemmatizer.pt
en_ewt_models/en_ewt_parser.pt
en_ewt_models/en_ewt_tagger.pt
en_ewt_models/en_ewt_tokenizer.pt
en_ewt_models/en_ewt.pretrain.pt
generate_exercises/__pycache__/__init__.cpython-310.pyc
generate_exercises/__pycache__/settings.cpython-310.pyc
generate_exercises/__pycache__/urls.cpython-310.pyc
generate_exercises/__pycache__/wsgi.cpython-310.pyc
app/migrations/__pycache__/__init__.cpython-310.pyc
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/admin.cpython-310.pyc
app/__pycache__/apps.cpython-310.pyc
app/__pycache__/models.cpython-310.pyc
app/__pycache__/views.cpython-310.pyc


generate_exercises/__pycache__/__init__.cpython-310.pyc
generate_exercises/__pycache__/settings.cpython-310.pyc
generate_exercises/__pycache__/urls.cpython-310.pyc
generate_exercises/__pycache__/wsgi.cpython-310.pyc
